@page: first {
  size: A4;
  margin: 64px;
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat/staic/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat/staic/Montserrat-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat/staic/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat";
}

body {
  font-family: "Montserrat";
  line-height: 1.2;
}

.strong {
  font-weight: bold;
}

.not-strong {
  font-weight: normal;
}

.inline {
  display: inline;
}

.justify {
  text-align: justify;
}

.spacer {
  height: 8px;
  display: block;
}

.text-lg {
  font-size: 1.5rem;
}

.text-md {
  font-size: 1.25rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-xs {
  font-size: 0.75rem;
}

.columns {
  display: flex;
  gap: 0px;
}

.column {
  flex: 1;
}

.header-cols {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: top;
}

.justity {
  text-align: justify;
}

.right {
  text-align: right;
}

.separator {
  height: 1px;
  background-color: gray;
}
