<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="header-cols">
        <div>
            <h1 class="strong text-lg">{{ name }}</h1>
        </div>
        <div class="right">
            <p class="text-xs">{{ phone }}</p>
            <p class="text-xs">{{ email }}</p>
            <p class="text-xs">{{ github }}</p>
            <p class="text-xs">{{ linkedin }}</p>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="separator"></div>

    <div class="spacer"></div>
    <div class="spacer"></div>

    <p class="text-xs justity">
        {{ resume }}
    </p>

    <div class="spacer"></div>
    <div class="spacer"></div>

    <h2 class="text-md">{{ metadata.title_experience }}</h2>

    <div class="spacer"></div>

    {% for experience in experiences %}

    <!-- Componente de experiencia -->
    <h3 class="text-sm not-strong">
        <p class="strong inline">{{ experience.company }}, {{ experience.position }}</p> — {{ experience.year_start }} –
        {{ experience.year_end }}
    </h3>
    <ul style="padding-left: 16px;">

        {% for description in experience.descriptions %}
        <li class="text-xs justify">
            {{ description }}
        </li>
        {% endfor %}

        <li class="text-xs justify">
            <p class="strong inline">Stack:</p>
            {% for stack in experience.stack %}
            {{ stack }}{% if not loop.last %}, {% else %}.{% endif %}
            {% endfor %}
        </li>
    </ul>
    <!-- Componente de experiencia -->

    {% if experience.html_props %}
    <div style="margin-bottom: {{ experience.html_props.margin_bottom }}px"></div>
    {% endif %}

    <div class="spacer"></div>

    {% endfor %}

    <div class="spacer"></div>

    <h2 class="text-md">{{ metadata.title_projects }}</h2>

    <div class="spacer"></div>

    <ul style="padding-left: 16px;">
        {% for project in projects %}
        <li class="text-xs">
            <p class="strong inline">{{ project.name }}: </p>{% if project.link %} ({{ project.link }}){% endif %}
            {{ project.description }}
        </li>
        {% endfor %}
    </ul>

    <div class="spacer"></div>
    <div class="spacer"></div>

    <h2 class="text-md">{{ metadata.title_education }}</h2>

    <div class="spacer"></div>

    {% for education in education %}
    <div class="text-xs">
        <div>
            <p class="strong inline">{{ education.name }}</p> – {{ education.mode }}
        </div>
        <div>{{ education.university }}, {{ education.year_start }} - {{ education.year_end }}</div>
    </div>
    <div class="spacer"></div>
    {% endfor %}
</body>

</html>